.wrapper {
  background: rgb(242,237,229);
  background: linear-gradient(0deg, rgba(242,237,229,1) 4%, rgba(170,173,176,1) 85%);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.logoWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: black;
}

.logoImg {
  width: 60px;
  height: auto;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  text-decoration: none;
  color: black;
}

.burgerBtn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.burgerBtn img {
  width: 100%;
  height: 100%;
}

.mobileMenu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .wrapper nav {
    display: none;
  }

  .burgerBtn {
    display: block;
  }

  .mobileMenu {
    display: flex;
    justify-content: center;
    background-color: rgb(199, 200, 204);
    position: fixed;
    width: 100%;
    height: 100%;
    left: -1000px;
    top: 80px;
    transition: 0.4s;
  }

  .mobileMenuOpen {
    left: 0px;
  }

  .mobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 7rem;
  }

  .mobileLinks a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }
}
