.link{
  text-decoration: none;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  backdrop-filter: brightness(96%);
  border-radius: 8px;
  max-width: 1000px;
  height: auto;
  margin :1rem 5rem;
  border: solid, 1px;

}

.wrapper h2,
.wrapper h4,
.wrapper h6,
.wrapper p{
  margin:5px;
  padding: 5px;
}

