.main {
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    height: 2rem;
    transition: 0.3s;
  }
  
  .main:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .warning {
    background-color: rgb(134, 132, 132);
    color: white;
    font-weight: 500;
    border-radius: 8px;
  }

  .warning:hover{
    background-color: #4e4d4e;
}