.main{
    background-color: rgb(242, 239, 229);
}

.linkWrapper{
    display: flex;
    flex-direction: column;
  
}
.link{
    text-decoration: none;
    color:black;
    padding-left: 5rem;
    margin-top: 2rem;
}