.wrapper {
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  padding: 1rem;
  padding-bottom: 0;
  display: grid;
  justify-items: center;
}

.info h1,
.info h3,
.info h6{
  margin: 0.8rem;
}

.deleteButton {
  justify-self: end;
  align-items: end;
}

@keyframes appear {
  0% {
    top: 15vh;
    opacity: 0;
  }

  100% {
    top: 20vh;
    opacity: 1;
  }
}

@keyframes backgroundAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
